<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>403</title>
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <div class="starter-template">
        <h1>403 - 没有访问权限</h1>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]',
            你没有权限访问此页面.</div>
    </div>
</div>
<!-- /.container -->
<div th:replace="footer :: footer"></div>

</body>
</html>